*{
  font-family: sans-serif;
}
a{
  text-decoration: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 200vh;
  font-family: 'lato',sans-serif;
}
h1{
  letter-spacing: 5px;
  text-transform: uppercase;
  box-shadow: 1px 5px 5px;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1.2rem;
}

#despuesEnviar{
visibility: hidden;
}
